.error {
    color: red;
}

#login {
    margin-top: 2cm;
    background-color: white;
}

#button-color {
    background-color: navy;
    color: white;
}

#link-color {
    color: navy;
    text-decoration: none;
}

#forgottenModal {
    color: navy;
    margin-top: 7%;
}

#center {
    text-align: center;
}

label {
    color: navy;
}

i {
    margin-right: 1%;
  }