<div class="container-fluid mt-4" id="menu">
  <!--Navbar-->
  <nav class="navbar fixed-top navbar-light bg-light" id="navbar">
      <!-- Navbar brand -->
      <a class="navbar-brand" href="#">S Scout: Development Environment</a>
      <ul class="navbar-nav text-right mr-4" id="person" *ngIf="isUserLoggedIn">
          <li class="nav-item dropdown">
              <a class="nav-link" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fa fa-user-circle"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right align-item-right" id="drop" aria-labelledby="navbarDropdownMenuLink" *ngIf="userDetails">
                  <a class="dropdown-item inactiveLink">User: {{userDetails.firstName + ' ' + userDetails.lastName}}</a>
                  <a class="dropdown-item inactiveLink">Role: {{userDetails.userGroup}}</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item link" (click)="logout()">Sign Out</a>
              </div>
          </li>
      </ul>
      <!-- Collapse button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar" *ngIf="isUserLoggedIn"><span class="navbar-toggler-icon"></span></button>
      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="collapsingNavbar" *ngIf="isUserLoggedIn">
          <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item" id="menu_list">
            <a class="nav-link" [routerLink]="['/search']"><img src="assets/img/arrow.jpg" id="image">Search home page</a>
            <a class="nav-link" href="#"><img src="assets/img/arrow.jpg" id="image">Reports-Pentaho</a>
          </li>
        </ul>
        <!-- Links -->
      </div>
      <!-- Collapsible content -->
    </nav>
    <!--/.Navbar-->
  </div>