<app-menu></app-menu>
<div class="container h-50" id="search">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6">
      <form class="form-example" novalidate [formGroup]="searchForm">
        <h1>Home</h1>
        <p class="description"></p>
        <div class="input-group">
          <input type="text" class="form-control" id="isbn" name="isbn" formControlName="isbn"
            placeholder="Enter an ISBN">
          <div class="input-group-append">
            <button class="btn" type="button" (click)="onSearch()">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <br />
        <p>OR</p>
        <br />
        <div class="input-group">
          <input type="text" class="form-control" id="workid" name="workid" formControlName="workId"
            placeholder="Enter a Work ID">
          <button class="btn" type="button" (click)="onSearch()">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </form>
      <br />
      <div class="error small" *ngIf="errMsg"><span><i class="fa fa-exclamation-circle"></i></span>{{errMsg}}</div>
    </div>
  </div>
</div>