<app-menu></app-menu>
<div class="container h-50" id="search">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col-md-8 col-lg-6">
      <form class="form-example" novalidate [formGroup]="searchForm">
        <h1>Home</h1>
        <p class="description"></p>
        <div class="input-group">
          <input type="text" class="form-control" id="isbn" name="isbn" formControlName="isbn"
            placeholder="Enter an ISBN">
          <div class="input-group-append">
            <button class="btn" type="button" (click)="onSearch()">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
        <br />
        <p>OR</p>
        <br />
        <div class="input-group">
          <input type="text" class="form-control" id="workid" name="workid" formControlName="workId"
            placeholder="Enter a Work ID" />
          <button class="btn" type="button" (click)="onSearch()" data-toggle="modal" data-target="#messageModal">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </form>
      <br />
      <div class="error small" *ngIf="errMsg"><span><i class="fa fa-exclamation-circle"></i></span>{{errMsg}}</div>
    </div>
  </div>
</div>
<!--*ngIf="gErrMsg || wErrMsg || cField"-->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog"   aria-labelledby="messageModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <strong><a class="navbar-brand" href="#">S</a>
          Scout</strong>
      </div>
      <div class="modal-body" *ngIf="gErrMsg">
        <p id="center">General Message</p>
        <ul>
          <li>{{general_error}}</li>
        </ul>
        <ul *ngFor="let item of gErrMsg">
          <li>{{item.displayname}} - {{item._value}}</li>
        </ul>
      </div>
      <div class="modal-body" *ngIf="wErrMsg">
        <p id="center">Warning Message</p>
        <ul *ngFor="let data of wErrMsg">
          <li>{{data.displayName}} - {{data.value}}</li>
        </ul>
      </div>
      <div class="modal-body" *ngIf="cField">
        <p id="p-heading">The following fields have been updated by the source system:</p>
        <br />
        <ul id="text-color" *ngFor="let data of cField">
          <li id="no-list">{{data.displayName}}</li>
        </ul>
        <br />
        <p id="text-color">More fields have changed - see highlighted fields on the form</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" id="button-color" data-dismiss="modal" (click)="close()">Close</button>
      </div>
    </div>
  </div>
</div>

